@mixin textColor ($color) {
    @if($color == claro){
        color: white;
    }
    @else if($color == oscuro){
        color: black;
    }
    @else{
        color: grey;
    }
}

.footer{
    text-align: center;
    font-size: 16px;
    background-color: lightslategray;
    @include textColor(oscuro)
}