.mainInicio{
    border-top: #000 solid 2px;
    border-bottom: #000 solid 2px;
}


.titulo{
    font-size: $fuenteTitulo;
    color: rgb(90, 81, 81)
}

.tituloEspecial{
    @extend .titulo;
    color: black;
}