$colorPrincipal:rgb(211, 211, 211);
$fuenteTitulo:44px;
$register:(
    ancho: 400px,
    fondo: black,
    padding: 30px,
    margin: auto,
    border-radius :4px,
    color: white,
    box-shadow: 7px 13px 37px #000,
    margin-bottom: 80px,
);