@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contenedor {
  background-color: rgb(211, 211, 211);
}

.titulo, .tituloEspecial {
  font-size: 44px;
}

.mainInicio {
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
}

.titulo, .tituloEspecial {
  font-size: 44px;
  color: rgb(90, 81, 81);
}

.tituloEspecial {
  color: black;
}

.imgProductos:hover {
  transition: 2s;
  transform: scale(0.95);
  overflow: hidden;
}

.listaUbi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.formRegistro {
  width: 400px;
  background-color: black;
  padding: 30px;
  margin: auto;
  margin-top: auto;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;
  margin-bottom: 80px;
}
.formRegistro h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.formRegistro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.formRegistro a:hover {
  color: white;
  text-decoration: underline;
}
.formRegistro .botons {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.438);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.formRegistro .controles {
  width: 100%;
  color: white;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 18px;
}

.piePagina {
  width: 100%;
  background-color: lightslategray;
}

.piePagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.piePagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piePagina .grupo-1 .box figure img {
  width: 250px;
}

.piePagina .grupo-1 .box h2 {
  margin-bottom: 25px;
  font-size: 20px;
}

.piePagina .grupo-1 .box p {
  color: rgb(44, 42, 42);
  margin-bottom: 10px;
}

.piePagina .grupo-1 .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: black;
  margin-right: 10px;
  background-color: rgb(160, 175, 189);
  text-align: center;
  transition: all 300ms ease;
}

.piePagina .grupo-1 .redSocial a:hover {
  color: bisque;
}

.piePagina .grupo-2 {
  background-color: rgb(160, 175, 189);
  padding: 15px 10px;
  text-align: center;
}

.piePagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .piePagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}