* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contenedor {
  background-color: rgb(211, 211, 211);
}

.titulo, .tituloEspecial {
  font-size: 44px;
}

.mainInicio {
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
}

.titulo, .tituloEspecial {
  font-size: 44px;
  color: rgb(90, 81, 81);
}

.tituloEspecial {
  color: black;
}

.imgProductos:hover {
  transition: 2s;
  transform: scale(0.95);
  overflow: hidden;
}

.listaUbi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.formRegistro {
  width: 400px;
  background-color: black;
  padding: 30px;
  margin: auto;
  margin-top: auto;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;
  margin-bottom: 80px;
}
.formRegistro h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.formRegistro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.formRegistro a:hover {
  color: white;
  text-decoration: underline;
}
.formRegistro .botons {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.438);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.formRegistro .controles {
  width: 100%;
  color: white;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 18px;
}

.footer {
  text-align: center;
  font-size: 16px;
  background-color: black;
  color: white;
}